/* Estilos Globais */
* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  min-height: 70vh;
}

/* Media Queries para Responsividade Mobile */
@media (max-width: 768px) {
  /* Orientação Retrato (Vertical) */
  @media (orientation: portrait) {
    .pokemon_container {
      display: flex; /* Alinha os cards verticalmente */
      flex-direction: column; /* Alinha os cards em coluna */
      align-items: center; /* Centraliza os cards horizontalmente */
      gap: 10px; /* Espaçamento entre os cards */
    }

    .title {
      font-size: 24px; /* Ajusta o tamanho do título */
      text-align: center;
    }

    .searchBarContainer {
      padding: 15px; /* Adapta o padding da barra de pesquisa */
    }

    .searchBar {
      display: flex;
      flex-direction: column; /* Alinha a barra de pesquisa em coluna no mobile */
      align-items: stretch;
    }

    .input {
      width: 100%; /* Aumenta a largura do input para ocupar todo o espaço disponível */
      margin-bottom: 10px;
    }

    .button {
      width: 100%; /* Deixa o botão com largura total no mobile */
    }

    .card {
      width: 100%; /* Cada card ocupa a largura total */
      margin: 10px 0; /* Espaçamento entre os cards */
    }
  }

  /* Orientação Paisagem (Horizontal) */
  @media (orientation: landscape) {
    .pokemon_container {
      display: grid; /* Alinha os cards em grid */
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Ajuste responsivo dos cards */
      gap: 10px; /* Espaçamento entre os cards */
    }

    .title {
      font-size: 28px; /* Ajusta o tamanho do título para paisagem */
      text-align: center;
    }

    .searchBarContainer {
      padding: 10px; /* Adapta o padding da barra de pesquisa */
    }

    .searchBar {
      flex-direction: row; /* Alinha a barra de pesquisa em linha no mobile paisagem */
      align-items: center;
    }

    .input {
      width: auto; /* Ajusta a largura do input */
      margin-right: 10px;
    }

    .button {
      width: auto; /* Ajusta a largura do botão */
    }

    .card {
      width: auto; /* Ajusta a largura dos cards */
    }
  }
}
